<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8">
    <title>Aktualizuj informacje o książce</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/mainStyle.css" th:href="@{/mainStyle.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-color">
    <ul>
        <li>
            <img class="navbar-image" src="../images/book-icon.png" alt="ikona książki">
        </li>
        <li class="navbar-text">
            <a href="/pokaz2">Strona główna</a>
        </li>
        <li class="navbar-text">
            <a th:href="${'/form'}">Dodaj książkę</a>
        </li>
        <li class="navbar-text">
            <a th:href="${'/onas'}">O nas</a>
        </li>
    </ul>
</nav>

<form class="form" th:action="@{/aktualizuj}" >
    <table>
        <tr>
            <td colspan="2" class="one-object-form"> Zaktualizuj informacje dotyczące książki</td>
        </tr>
        <tr>
            <td><label for="tytul">Tytuł:</label></td>
            <td><input type="text" name="tytul" th:field="*{book.tytul}" id="tytul" placeholder="Wprowadź tytuł książki"></td>
            <td th:if="${#fields.hasErrors('book.tytul')}" th:errors="*{book.tytul}"> Tytuł blad</td>
        </tr>
        <tr>
            <td><label for="rok wydania">Rok wydania:</label> </td>
            <td><input type="text"  th:field="*{book.rokWydania}" placeholder="Wprowadź rok wydania"  name ="rok wydania" id="rok wydania" ></td>
            <td th:if="${#fields.hasErrors('book.rokWydania')}" th:errors="*{book.rokWydania}"> rok wydania blad</td>
        </tr>
        <tr>
            <td><label for="isbn">Numer ISBN:</label> </td>
            <td><input type="text"  th:field="*{book.isbn}" placeholder="Wprowadź numer isbn"  name ="isbn" id="isbn" ></td>
            <td th:if="${#fields.hasErrors('book.isbn')}" th:errors="*{book.isbn}"> isbn blad</td>
        </tr>
        <tr>
            <td><label for="egzemplarz">Liczba egzemplarzy:</label> </td>
            <td><input type="text"  th:field="*{book.liczbaEgzemplarzy}" placeholder="Podaj liczbę egzemplarzy"   id="egzemplarz" ></td>
            <td th:if="${#fields.hasErrors('book.liczbaEgzemplarzy')}" th:errors="*{book.liczbaEgzemplarzy}"> liczba egzemplarzy blad</td>
        </tr>
        <tr>
            <td><label for="cena">Cena za sztukę [zł]:</label> </td>
            <td><input type="text"  th:field="*{book.cenaZaKsiazke}" placeholder="Podaj cenę za książkę"   id="cena" ></td>
            <td th:if="${#fields.hasErrors('book.cenaZaKsiazke')}" th:errors="*{book.cenaZaKsiazke}"> cena blad</td>
<!--            <input type="hidden" name="id_ksiazka" th:value="${book.id_ksiazka}"></td>-->
            <input type="hidden" name="id_ksiazka" th:field="*{book.id_ksiazka}"></td>

        </tr>
        <tr>
<!--            <input type="hidden" name="id_ksiazka" th:field="*{book.id_ksiazka}"></td>-->
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit">
            </td>
        </tr>
    </table>
</form>

<footer>
    <pre> Web page author: Karol Kiszteliński    |    Copyright © 2020</pre>
</footer>

</body>
</html>