<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj książkę do zbioru księgarni</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/mainStyle.css" th:href="@{/mainStyle.css}"  rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-color">
    <ul>
        <li>
            <img class="navbar-image" src="../images/book-icon.png"  alt="ikona książki">
        </li>
        <li class="navbar-text">
            <a href="/pokaz2">Strona główna</a>
        </li>
        <li class="navbar-text">
            <a th:href="${'/form'}">Dodaj książkę</a>
        </li>
        <li class="navbar-text">
            <a th:href="${'/onas'}">O nas</a>
        </li>
    </ul>
</nav>

<form class="form" action="http://www.localhost:8080/dodaj" th:method="post">
    <table>
        <tr>
            <td colspan="2" class="one-object-form"> Wprowadź informacje dotyczące książki</td>
        </tr>
        <tr>
            <td>Tytuł </td>
            <td><input name ="tytul" ></td>
        </tr>
        <tr>
            <td>Rok wydania</td>
            <td><input name ="rokWydania"></td>
        </tr>
        <tr>
            <td>Numer ISBN</td>
            <td><input name ="isbn"></td>
        </tr>
        <tr>
            <td>Liczba egzemplarzy</td>
            <td><input name ="liczbaEgzemplarzy"></td>
        </tr>
        <tr>
            <td>Cena za sztukę</td>
            <td><input name ="cenaZaKsiazke"></td>
        </tr>
        <tr>
            <td colspan="2" class="one-object-form"> Wprowadź informacje dotyczące autora</td>
        </tr>
        <tr>
            <td>Imię</td>
            <td><input name="imie"></td>
        </tr>
        <tr>
            <td>Nazwisko</td>
            <td> <input name="nazwisko"></td>
        </tr>
        <tr>
            <td>Liczba publikacji</td>
            <td><input name="liczbaPublikacji"></td>
        </tr>
        <tr>
            <td>Numer telefonu</td>
            <td><input name="telefonAutora"></td>
        </tr>
        <tr>
            <td colspan="2" class="one-object-form"> Wprowadź informacje dotyczące wydawnictwa</td>
        </tr>
        <tr>
            <td>Nazwa</td>
            <td><input name="namePublisher"></td>
        </tr>
        <tr>
            <td>Miasto</td>
            <td><input name="cityPublisher"></td>
        </tr>
        <tr>
            <td>Numer telefonu</td>
            <td><input name="phonePublisher"></td>
        </tr>
        <tr>
            <td  colspan="2">
                <input  type="submit">
            </td>
        </tr>
    </table>
</form>

<footer>
    <pre> Web page author: Karol Kiszteliński    |    Copyright © 2020</pre>
</footer>

</body>
</html>