<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8">
    <title> Dane wydawcy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/mainStyle.css" th:href="@{/mainStyle.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-color">
    <ul>
        <li>
            <img class="navbar-image" src="../images/book-icon.png" alt="ikona książki">
        </li>
        <li class="navbar-text">
            <a href="/pokaz2">Strona główna</a>
        </li>
        <li class="navbar-text">
            <a th:href="${'/form'}">Dodaj książkę</a>
        </li>
        <li class="navbar-text">
            <a th:href="${'/onas'}">O nas</a>
        </li>
    </ul>
</nav>

<p align="center">
<h2 align="center"> Dane wydawcy książki</h2></p> <br>
<div class="table-result">
    <table class="table table-striped">
        <tr>
            <th> Nazwa</th>
            <th> Miasto</th>
            <th> Numer kontaktowy</th>
            <th> Aktualizuj</th>
        </tr>
        <tr>
            <td th:text="${publisher.namePublisher}"> Nazwa</td>
            <td th:text="${publisher.cityPublisher}"> Miasto</td>
            <td th:text="${publisher.phonePublisher}"> Numer kontaktowy</td>
            <td><a href="#"
                   th:href="@{/przekieruj_wydawca(id_wydawca=${publisher.id_publisher}, id_ksiazka=${book.id_ksiazka})}"
                   class="btn btn-primary">
                <i class="fa fa-trash-o fa-lg"></i>Aktualizuj </a></td>
            </td>
        </tr>
    </table>
</div>
<div class="link">
<a href="#" th:href="@{/pokaz2}"><i class="fa fa-trash-o fa-lg"></i>Powrót</a>
</div>

<footer>
    <pre> Web page author: Karol Kiszteliński    |    Copyright © 2020</pre>
</footer>

</body>
</html>