<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8">
    <title>O nas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/mainStyle.css" th:href="@{/mainStyle.css}"  rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-color">
    <ul>
        <li>
            <img class="navbar-image" src="../images/book-icon.png"  alt="ikona książki">
        </li>
        <li class="navbar-text">
            <a href="/">Strona główna</a>
        </li>
        <li class="navbar-text">
            <a th:href="${'/form'}">Dodaj książkę</a>
        </li>
        <li class="navbar-text">
            <a th:href="${'/onas'}">O nas</a>
        </li>
    </ul>
</nav>

<div class="aboutUs">
    <p>Księgarnia internetowa setbook.pl powstała w 2019r.<p>

    <p> Księgarnia, którą odwiedziliście zrodziła się z pasji do książek. Naszym celem od początku było stworzenie miejsca, w którym można zaleźć każdy szukany tytuł – niezależnie od zainteresowań, potrzeb zawodowych czy edukacyjnych i kupić go zawsze w niskiej cenie. </p>

   <p> Postawiliśmy sobie za cel stworzyć przejrzystą ofertę z prostymi zasadami, nie znajdziecie u nas promocji, w których należy kupić jedną pozycję by dostać rabat na inną. W setbook.pl każda książka  i każdy produkt ma rabat, płacisz niską cenę wyłącznie za to co potrzebujesz kupić. </p>

    <p> setksiega.pl to wygodne i bezpieczne zakupy przez Internet. Pragniemy, by setbook.pl stało się Waszą księgarnią internetową. </p>

    <p>Udanych zakupów</p>
    <p>Zespół setbook.pl</p>
</div>

<footer>
    <pre> Web page author: Karol Kiszteliński    |    Copyright © 2020</pre>
</footer>

</body>
</html>